/.NotOneMovementCapabilityProvidedMatch.java._trace
/.NotOneMovementCapabilityProvidedMatcher.java._trace
/.DuplicateNameMatch.java._trace
/.DuplicateNameMatcher.java._trace
/.MoreThanOneScanningCapabilitiesMatch.java._trace
/.MoreThanOneScanningCapabilitiesMatcher.java._trace
/.MovementCapabilityMatch.java._trace
/.MovementCapabilityMatcher.java._trace
/.ScanningCapabilityMatch.java._trace
/.ScanningCapabilityMatcher.java._trace
