/DuplicateNameConstraint0.java
/NotMoreThanOneScanningCapabilitiesConstraint0.java
/NotOneMovementCapabilityProvidedConstraint0.java
/NonpositiveDimensionConstraint0.java
/NonpositiveDroneTypeWeightConstraint0.java
/NonpositiveDroneTypeBatteryCapacityConstraint0.java
/NonpositiveDroneTypeEnergyConsumptionConstraint0.java
/NegativeDroneTypeEnergyConsumptionConstraint0.java
/NonpositiveProvidedCapabilityConstraint0.java
/NegativeCostProvidedCapabilityConstraint0.java
/NonpositiveCostProvidedCapabilityConstraint0.java
/NonpositiveRequiredCapabilityConstraint0.java
/ProvidedScanningCapabilityWithCostConstraint0.java
/NonpositiveStartTimeoutConstraint0.java
/DurationTooShortConstraint0.java
/NegativeEnergyConsumptionConstraint0.java
/NonpositiveBatteryCapacityConstraint0.java
/NonpositiveWeightConstraint0.java
/MoreThanOneScanningCapabilitiesConstraint0.java
