<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dronesSimulation -->
      <package
            uri="http://inf.mit.bme.hu/kortargyalo/dronesSimulation"
            class="hu.bme.mit.inf.kortargyalo.drones.simulation.dronesSimulation.DronesSimulationPackage"
            genModel="model/dronesSimulation.genmodel"/>
   </extension>

</plugin>
