<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="hu.bme.mit.inf.kortargyalo.drones.simulation.application.SimulatorApplication"
         name="Drone Simulator"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="hu.bme.mit.inf.kortargyalo.drones.simulation.application.SimulatorApplication">
         </run>
      </application>
   </extension>

</plugin>
