/.NotOneMovementCapabilityProvidedProcessor.java._trace
/.NotOneMovementCapabilityProvidedQuerySpecification.java._trace
/.ProvidedMovementCapabilityQuerySpecification.java._trace
/.ProvidedScanningCapabilityQuerySpecification.java._trace
/.DuplicateNameProcessor.java._trace
/.DuplicateNameQuerySpecification.java._trace
/.MoreThanOneScanningCapabilitiesProcessor.java._trace
/.MoreThanOneScanningCapabilitiesQuerySpecification.java._trace
/.MovementCapabilityProcessor.java._trace
/.MovementCapabilityQuerySpecification.java._trace
/.ScanningCapabilityProcessor.java._trace
/.ScanningCapabilityQuerySpecification.java._trace
