<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="hu.bme.mit.inf.kortargyalo.drones.structure.sirius.Activator"
               id="hu.bme.mit.inf.kortargyalo.drones.structure.sirius"
	       name="sirius">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="hu.bme.mit.inf.kortargyalo.drones.structure.sirius.action.CreateScriptAction"
           id="hu.bme.mit.inf.kortargyalo.drones.structure.sirius.createScriptAction">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.inf.kortargyalo.drones.structure.sirius.action.LaunchSimulationAction"
           id="hu.bme.mit.inf.kortargyalo.drones.structure.sirius.launchSimulationAction">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.inf.kortargyalo.drones.structure.sirius.action.DebugSimulationAction"
           id="hu.bme.mit.inf.kortargyalo.drones.structure.sirius.debugSimulationAction">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.inf.kortargyalo.drones.structure.sirius.action.LaunchSimulationAction"
           id="hu.bme.mit.inf.kortargyalo.drones.structure.sirius.debugSimulationAction">
     </javaActions>
  </extension>
</plugin>
